h1 {
     color:rgb(91, 15, 86);
     text-align:center;
     font-size:xx-large;
     font-style: italic;
}
  
header {
     background-color:rgb(165, 71, 134);
     padding:20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  nav li {
    display: inline;
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color:white ;
  }
  
p{
    color: rgb(24, 20, 20);
    font-style:oblique ;
}

  

h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}
  

footer {
  background-color: #f8f8f8;
  padding: 20px;
}

.footer-links {
  margin-bottom: 10px;
}

.footer-links a {
  color: #666;
  text-decoration: none;
  margin-right: 10px;
}

.footer-text {
  color: #666;
  font-size: 14px;
}
